<!DOCTYPE html>
<meta charset="utf-8">
<style>

.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}

</style>
<body>
<script src="http://d3js.org/d3.v3.min.js"></script>
  <script
      type="text/javascript"
      src="http://d3js.org/queue.v1.min.js"> 
  </script>
	<body>
		<script type="text/javascript">

			//Width and height
			var w = 500;
			var h = 300;


			var nodes = d3.json("/nodes", function(error, json) {
			        //Put things here that depend on the JSON loading
				console.log(json[0]['name']);
			});

			//Only put things here that can operate independently of the JSON
			
			
			var links = d3.json("/links", function(error, json) {
			        //Put things here that depend on the JSON loading
					console.log(json[16]['source']);
			});

			//Only put things here that can operate independently of the JSON
			
			
			//Create SVG element
						var svg = d3.select("body")
									.append("svg")
									.attr("width", w)
									.attr("height", h);
									
									var force = d3.layout.force()
									                     .nodes(nodes)
									                     .links(links)
									                     .size([w, h])
									                     .start();
														 var nodes = svg.selectAll("circle")
														         .data(nodes)
														         .enter()
														         .append("circle")
														         .attr("r", 10)
														         .style("fill", function(d, i) {
														                 return colors(i);
														         })
														         .call(force.drag);


		</script>
	</body>
</html>